@import url('https://fonts.googleapis.com/css?family=Bebas+Neue|Inconsolata&display=swap');

body {
    width: 60;
    margin 40px auto;
    padding: 50px;
    background-color: black;
}

table {
    color: white;
}

tr {
    color: white;
}

th {
    font-family: 'Bebas Neue', cursive;
    color: white;
    text-align: center;
    margin 5px auto;
    padding: 10px;
}

td {
    font-family: 'Inconsolata', monospace;
    color: white;
    margin 5px auto;
    padding: 10px;
}

.head {
    font-family: 'Bebas Neue', cursive;
  
}
