@import url('https://fonts.googleapis.com/css?family=Bebas+Neue|Inconsolata&display=swap');

body {
    width: 60;
    margin 40px auto;
    padding: 50px;
    background-color: black;
}

h1 {
    color: white;
    font-family: 'Inconsolata', monospace;
}

h3 {
    font-family: 'Inconsolata', monospace;
    color: white;
}

table {
    color: white;
}

tr {
    color: white;
}

th {
    font-family: 'Bebas Neue', cursive;
    color: white;
    text-align: center;
    margin 5px auto;
    padding: 10px;
    font-size: 24px;
}

td {
    font-family: 'Inconsolata', monospace;
    color: white;
    margin 5px auto;
    padding: 10px;
}

table td {
    border: solid 2px white;
}

tr:nth-child(even) {
     background-color: rgb(15, 15, 15);
}

.head {
    font-family: 'Bebas Neue', cursive;
    font-size: 20px;
  
}
